
            body {
                font-family: "open sans", sans-serif;
                margin-top: 0px;
                margin-left: 0px;
                margin-right: 0px;
                background-color:#EAEAEA ;

            }

            .sidebar {
                height: 100%;
                width: 0;
                position: fixed;
                z-index: 3;
                top: 0;
                left: 0;
                width: 200px;
                background-color: #0C0C5A;
                overflow-x: hidden;
                transition: 0.5s;
                padding-top: 60px;
                padding-bottom: 10px;
                text-align: start;
            }

            .nav-link-container {
                margin-top: 50px;
                margin-left: 15px;

            }

            .nav-links {
                margin-top: 20px;
                margin-left: 16px;
                display: flex;
                align-items: center;
            }

            .nav-links img {
                height: 15px;
                width: 15px;
            }

            .sidebar a {
                padding-left: 8px;
                text-decoration: none;
                font-size: 1rem;
                color: #F9F7F7;
                text-align: left;
                transition: 0.3s;
            }

            .sidebar a:hover {
                color: #f1f1f1;
            }

            .sidebar .closebtn {
                position: absolute;
                top: 0;
                right: 25px;
                font-size: 36px;
                margin-left: 50px;
            }

            .openbtn {
                font-size: 20px;
                cursor: pointer;
                background-color: #0c0c5a;
                color: white;
                padding: 10px 15px;
                border: none;
                position: absolute;
                display: inline-block;
                margin: 14.5px 16px;
            }

            .openbtn:hover {
                background-color: #49618d;
            }

            #main {
                transition: margin-left .5s;
                padding: 16px;
                padding-top: 0px;
                padding-left: 0px;
                padding-right: 0px;
                background-color: #EAEAEA;
            }

            /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
            @media screen and (max-height: 450px) {
                .sidebar {
                    padding-top: 15px;
                }

                .sidebar a {
                    font-size: 18px;
                }
            }

            @media (min-width:992px) {
                .sidebar {
                    width: 200px;
                }

                #main {
                    margin-left: 200px;
                }

                .closebtn {
                    display: none;

                }

                .openbtn {
                    display: none;
                }


                @media (max-width:991px) {


                    .openbtn {
                        height: 55px;
                        margin: 0;
                    }
                }

            }


            .header {
                background-color: #0C0C5A;
                padding: 0 20px 0 0;
                position: fixed;
                width: 100%;
                z-index: 2;
            }

            .header img {
                height: 67px;
                width: 234px;
                display: block;
                margin: 0 200px 0 auto;
            }

            .nav-heading {
                margin-top: 0px;
                margin-bottom: 0px;
                display: block;
                padding: 24px 18px 24px 0;
                text-align: end;
                color: white;
            }

            .user-prof-back {
                height: 70px;
                width: 70px;
                border-radius: 1000px;
                background-color: #F9F7F7;
                margin: auto;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .user-prof-back h3 {
                font-family: 'open sans', 'sans-serif';
                font-size: 35px;
                color: #112D4E;
                font-weight: 400;

            }

            .user-name {
                text-align: center;
                font-size: 1.2rem;
                color: #F9F7F7;
                font-family: 'open sans', 'sans-serif';
                margin-block-start: 1em;
                margin-block-end: 1em;
            }


            /* Bootstrap row Modification */
            .dashboard-card-row {
                width: 100%;
                margin-left: 0;
                margin-right: 0;
                padding: 5px;
                padding-top: 50px;
            }

            .dashboard-card-container {
                padding: 5% 5% 0;
            }

            .dashboard-card {
                background-color: #fff;
                border-radius: 8px;
                padding: 16px;
                position: relative;
                height: 285px;
                font-size: smaller;
            }

            .dashboard-card h5 {
                display: inline-block;
                font-size: 1.1rem;
            }

            .dashboard-card a {
                text-decoration: none;
                position: absolute;
                right: 16px;
            }

            .transaction-row {
                border-radius: 4px;
                padding: 0 8px 0 8px;
                position: relative;
                height: 40px;
                margin-bottom: 8px;

            }

            .transaction-row-odd {
                background-color: #DBE2EF;
            }

            .transaction-row-even {
                background-color: #F9F7F7;
            }

            .transaction-row p {
                display: inline-block;
                font-size: 12px;
                margin-block-end: 0;

            }

            .transaction-row .transaction-date {
                position: absolute;
                right: 8px;
                top: 2.5px;
            }

            .transaction-row .transaction-category {
                position: absolute;
                left: 8px;
                bottom: 2.5px;
            }

            .transaction-row .transaction-wallet {
                position: absolute;
                right: 8px;
                bottom: 2.5px;
            }

            .add-transaction-btn {
                height: 40px;
                width: 40px;
                border-radius: 1000px;
                position: absolute;
                right: 4px;
                background-color: #FFEB59;
                border: #FFEB59;
                font-size: 2em;
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .analysis-card {
                height: 240px;
                width: 100%;
                display: block;
                justify-content: center;
                align-items: center;
            }

            .display-analysis {
                height: 100%;
                width: 100%;
            }

            .budget-progress-info {
                display: inline-block;
                background-color: #DBE2EF;
                width: 100%;
                padding: 8px;
                border-radius: 8px;
                height: auto;
            }

            .wallet-balance {
                display: inline-block;
                width: 40%;
                margin: auto;
                padding: 8px;

            }

            .budget-wallet-container {
                position: relative;
                display: flex;
                height: 65%;
                margin-top: 15px;
                align-items: stretch;
            }

            .progress-container {
                background-color: rgb(192, 192, 192);
                width: 100%;
                border-radius: 15px;
                margin-top: 20px;
            }

            .budget-progress {
                background-color: #52C237;
                color: white;
                padding: 8px;
                text-align: right;
                font-size: 20px;
                border-radius: 15px;
                width: 50%;
            }

            .reminder-row {
                height: 35%;
            }

            .add-reminder-btn-row {
                bottom: 8px;
                position: absolute;
                right: 16px;
            }
